
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');


body {
    margin: 0; /* Remove as margens padrão do body */
    padding: 0; /* Remove os paddings padrão */
}


.container_header{
    
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: #dd1d1d;
    color: white;
    
    
    
    
}

.header_content{
    margin-left: 1rem;
    font-family: Orbitron;
    font-weight: bold;
    

}

.header_content a {
    text-decoration: none; /* tira o sublinhado */
    color: inherit;        /* faz o link herdar a cor do pai (no seu caso, branco, vermelho etc.) */
}


/*CONFIGURAÇÕES DO CONTAINER INICIAL*/
.container_header_conteudo{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* alinha verticalmente */
    align-items: center;       /* alinha horizontalmente */
    margin-left: 200px; /* espaço para o menu */
    padding: 5px;
    transition: margin-left 0.7s ease; /* transição suave ao abrir/fechar o menu */
    background-color: rgb(147, 139, 139);
    
}

.campo_btns{
    background-color: rgb(147, 139, 139);
    display: flex;
    gap: 5px;
    
    justify-content: end;
}

.btn_cadastro,
.btn_saida,
.btn_registro{
    
    cursor: pointer;
    border-radius: 5px;
    
}




.menu_vertical.hidden + .container_header_conteudo{
    
    
    margin-left: 0;
    
}



.text_init{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

/*-------CONFIGURAÇÕES DO CONTAINER INICIAL--------------*/

/*-------CONFIGURAÇÕES DO MENU VERTICAL--------------*/

.menu_vertical{
    
    position: fixed;
    top: 80px;    /* abaixo do header de 80px */
    bottom: 0;    /* vai até o rodapé da janela */
    left: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #efeeee;
    transition: transform 0.7s ease;
    z-index: 999;
}


.menu_vertical.hidden{
    transform: translateX(-100%);
    
    
    
}


#toggleMenu{
    
    
    position: absolute;
    right: -23.5px;
    cursor: pointer;
    z-index: 100;
    border-style:none;
}




/*ajuste de espaçamento do botão*/

.menu_vertical.hidden #toggleMenu{
    right: -25px;
}
/*-------CONFIGURAÇÕES DO MENU VERTICAL--------------*/

.c_logistica{
    padding: 0%;
    margin: 0%;
    height: 50px;
    
}

.btn_logistica{
    font-family: Montserrat;
    font-size: small;
    font-weight: bold;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgb(180, 177, 177);
    
    
}

.c_orcamento{
    padding: 0%;
    margin: 0%;
    height: 50px;
}

.btn_orcamento{
    font-family: Montserrat;
    font-size: small;
    font-weight: bold;
    width: 100%;
    height: 100%;
    cursor: pointer;
    
}

.c_funcionarios{
    padding: 0%;
    margin: 0%;
    height: 50px;
}

.btn_funcionarios{
    font-family: Montserrat;
    font-size: small;
    font-weight: bold;
    width: 100%;
    height: 100%;
    cursor: pointer;
    
}

.c_config {
    margin-top: auto;  /* empurra pra baixo */
    height: 50px;
    padding: 0;
}


.btn_config{
   
    font-family: Orbitron;
    font-weight: bold;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
    background-color: red;
    
}


.text_logistica,
.text_orcamento,
.text_funcionarios,
.text.config{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/*HOVERS DOS BOTÕES*/
.btn_funcionarios:hover,
.btn_orcamento:hover,
.btn_logistica:hover{
 background-color: rgb(180, 177, 177);
}

.btn_config:hover{
    background-color: #bf0404;
}

#toggleMenu:hover{
    background-color: rgb(199, 202, 204);
}


.btn_funcionarios,
.btn_orcamento,
.btn_logistica,
.btn_config{
 border-style: hidden;
}



