<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/style_config.css">
</head>
<body>

    
    <header class="container_header">
        <div class="header_content">
        <h1>SYSTECH</h1>
        </div>
    </header>
    <main>

        <div class="menu_vertical">
            
                <button id="toggleMenu"><i class="fa-solid fa-bars"></i></button>
            
            <div class="c_logistica">
                <button class="btn_logistica" id="btn_logistica">
                    <div class="text_logistica">LOGÍSTICA  <i class="fa-solid fa-boxes-stacked fa-2x"></i></div>
                </button>
            </div>

            <div class="c_orcamento">
                <button class="btn_orcamento" id="btn_orcamento">
                    <div class="text_orcamento">ORÇAMENTOS <i class="fa-solid fa-money-check-dollar fa-2x"></i></div>
                </button>
            </div>

            <div class="c_funcionarios">
                <button class="btn_funcionarios" id="btn_funcionarios">
                    <div class="text_funcionarios">FUNCIONÁRIOS  <i class="fa-solid fa-person fa-2x"></i></div>
                </button>
            </div>

            <div class="c_config">
                <button class="btn_config" id="btn_config">
                    <div class="text_config">
                        CONFIGURAÇÕES <i class="fa-solid fa-gears fa-lg"></i>
                    </div>
                </button>
            </div>

            
        </div>



        <div class="container_init">
            <div class="c_init">
                <div class="">
                    <h2 class="text_init">CONFIGURAÇÕES</h2>
                </div>
            </div>
        </div>

    </main>

    

    
    <script src="../../../javascript/script.js"></script>
</body>
</html>